.home-tool-bar{position: fixed; bottom: 100px; left: 50%; margin-left: 614px;}
.home-tool-bar .item{ width: 50px; height: 50px; border: 1px #ccc solid; text-align: center;line-height: 30px;}
.home-tool-bar .item span{display: none;}
